@import 'sass/mixins';
@import 'sass/reset';
@import 'sass/variables';
@import 'sass/fonts';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../bower_components/singularity/stylesheets/_singularitygs.scss';

* {
	box-sizing: border-box;
}

body {
	font-family: 'helveticaneue', Arial, Helvetica, sans-serif;
	background: #4181ff;
}

.wrapper  {
	width: 100%;

	min-height: 100%;
	position: relative;
	height: auto !important;
}

.website {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0 12px 50px;
	max-width: 780px;
	margin: 0 auto;
}


@import 'sass/main';
@import 'blocks/navigation';
@import 'blocks/profile';
@import 'blocks/resume';
@import 'blocks/works';
@import 'blocks/education';
@import 'blocks/contact';
@import 'blocks/form';
@import 'blocks/social';
@import 'blocks/footer';
