block vars
    - var pageTemplate = "eduction"; // page-specific var
    - var pageHeaderText = "Eduction"; // page-specific var

section.eduction.section-wrap.hide
    include header
    .eduction__container.container
        ul.eduction__list
            li.eduction__item
                .eduction__wrap
                    span.eduction__accent University of Awesome
                    span.eduction__date / January 2004 - October 2009
                p.eduction__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius turpis sit amet commodo. Aenean a diam id nisl sodales ultrices. Proin id leo ut turpis placerat pharetra. Nunc et lacus sed arcu lobortis pharetra. Mauris sagittis consectetur sapien pretium aliquet.
            li.eduction__item
                .eduction__wrap
                    span.eduction__accent University of Awesome
                    span.eduction__date / January 2004 - October 2009
                p.eduction__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius turpis sit amet commodo. Aenean a diam id nisl sodales ultrices. Proin id leo ut turpis placerat pharetra. Nunc et lacus sed arcu lobortis pharetra. Mauris sagittis consectetur sapien pretium aliquet.
            li.eduction__item
                .eduction__wrap
                    span.eduction__accent University of Awesome
                    span.eduction__date / January 2004 - October 2009
                p.eduction__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis varius turpis sit amet commodo. Aenean a diam id nisl sodales ultrices. Proin id leo ut turpis placerat pharetra. Nunc et lacus sed arcu lobortis pharetra. Mauris sagittis consectetur sapien pretium aliquet.
    include footer