nav.menu.js-menu
    span.menu__title Menu
    .menu__burger.burger
        .burger__icon
            .burger__line.burger__line_1
            .burger__line.burger__line_2
            .burger__line.burger__line_3
    ul.menu__list
        li.menu__item.menu__item_current
            span profile
        li.menu__item
            span resume
        li.menu__item
            span works
        li.menu__item
            span education
        li.menu__item
            span contact
