section.resume
    .resume__header
        h2.resume__title My skills
    .resume__diagram
        .resume__diagram_line.diagram-line
            .diagram-line__item
                span.diagram-line__item_title Worldpress
                .diagram-line__item_wrap
                    spam.diagram-line__item_procent 90%
            .diagram-line__item
                span.diagram-line__item_title Worldpress2
                .diagram-line__item_wrap
                    spam.diagram-line__item_procent 20%
            .diagram-line__item
                span.diagram-line__item_title Worldpress3
                .diagram-line__item_wrap
                    spam.diagram-line__item_procent 60%
            .diagram-line__item
                span.diagram-line__item_title Worldpress4
                .diagram-line__item_wrap
                    spam.diagram-line__item_procent 30%
            //.diagram-line__item
            //.diagram-line__item
            //.diagram-line__item
        .resume__diagram_circle.diagram_circle
