block vars
    - var pageTemplate = "works"; // page-specific var
    - var pageHeaderText = "Works"; // page-specific var

section.works.section-wrap
    include header
    .works__container.container
        .works__filter.filter
            .filter__title Filter
            ul.filter__list.js-filter
                li.filter__item.btn.btn_blue
                   a(href="" data-filter="1").filter__link Web Design
                li.filter__item.btn.btn_green
                   a(href="" data-filter="2").filter__link Icon Design
                li.filter__item.btn.btn_red
                   a(href="" data-filter="3").filter__link WordPress
                li.filter__item.btn.btn_yellow
                   a(href="" data-filter="4").filter__link Photoshop
                li.filter__item.btn.btn_gray
                    a(href="" data-filter="all").filter__link All
        .works__preview.preview
            ul.preview__list
                li.preview__item.preview__item_green.js-animate(data-item="1")
                    .preview__img
                        img(src="../img/example.jpg" alt)
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
                li.preview__item.preview__item_blue.js-animate(data-item="2")
                    .preview__img
                        img(src="../img/example.jpg" alt)
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
                li.preview__item.preview__item_yellow.js-animate(data-item="2")
                    .preview__img
                        img(src="../img/example.jpg" alt)
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
                li.preview__item.preview__item_red.js-animate(data-item="4")
                    .preview__img
                        img(src="../img/example.jpg" alt)
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
                li.preview__item.preview__item_gray.js-animate(data-item="2")
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
                li.preview__item.preview__item_gray.js-animate(data-item="3")
                    a(href="").preview__link
                        span.preview__icon
                        span.preview__text Preview
    include footer