block vars

doctype html
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><html><![endif]-->
html
	head
		meta(charset="UTF-8")/
		meta(name="viewport", content="width=device-width")/
		meta(http-equiv="X-UA-Compatible", content="IE=edge")/
		link(rel="stylesheet", href="/css/style.css")/

		//script(src="/js/require.js")
		block title

	body
		.wrapper
			.website
				block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
		script(src="/js/main.bundle.js")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxfoVffdVOaPe7Qmaj_Oee10RHl_mtTKU&callback=initMap" type="text/javascript")
