extends layout/template
include layout/mixins
block vars
	- var pageTemplate = "index"; // page-specific var

block title
	title Main page

block content
	.title
		h1 My Hello world

	include layout/block/navigation
	include layout/block/profile
	include layout/block/resume
	include layout/block/works
	include layout/block/eduction
	include layout/block/contact

