@font-face {
  font-family: 'gloria';
  src: url('../fonts/gloriahallelujah-webfont.eot');
  src: url('../fonts/gloriahallelujah-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gloriahallelujah-webfont.woff2') format('woff2'),
  url('../fonts/gloriahallelujah-webfont.woff') format('woff'),
  url('../fonts/gloriahallelujah-webfont.svg#gloria_hallelujahregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/helveticaneuecyr-bold-webfont-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-bold-webfont-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-bold-webfont-webfont.svg#helveticaneue') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/helveticaneuecyr-light-webfont-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-light-webfont-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-light-webfont-webfont.svg#helveticaneue') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/helveticaneuecyr-roman-webfont-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-roman-webfont-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-roman-webfont-webfont.svg#helveticaneue') format('svg');
  font-weight: 400;
  font-style: normal;

}