
.title {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 30px;
  text-align: center;

  h1 {
    font-family: 'gloria', Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    color: $white;
    @include pxToRem(font-size, 28px);
  }

}

.main-title {
  text-align: left;
  color: $textColor;
  font-family: 'helveticaneue', Arial, Helvetica, sans-serif;
  font-weight: 700;
  @include pxToRem(font-size, 27px);
}

.main-desc {
  font-family: 'helveticaneue', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: $textColor;
  @include pxToRem(font-size, 16px);
}

.header {
  background: $headerBg;
  padding: 15px;

  &__title {
    font-family: 'helveticaneue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    @include pxToRem(font-size, 27px);
    color: $white;
  }
}

.container {
  padding: 20px 15px;
}

.btn {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 48px;
  line-height: 48px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  @include pxToRem(font-size, 19px);
  text-transform: uppercase;
  font-weight: 700;
  color: $white;
  text-shadow: none;



  &_green {
    background: -moz-linear-gradient(90deg, rgb(61, 157, 107) 0%, rgb(81, 164, 122) 100%);
    background: -webkit-linear-gradient(90deg, rgb(61, 157, 107) 0%, rgb(81, 164, 122) 100%);
    background: -ms-linear-gradient(90deg, rgb(61, 157, 107) 0%, rgb(81, 164, 122) 100%);
    border: 1px solid rgba(59, 151, 103, 1);
  }

  &_red {
    background: -moz-linear-gradient(90deg, rgb(228,94,57) 0%, rgb(232,103,64) 100%);
    background: -webkit-linear-gradient(90deg, rgb(228,94,57) 0%, rgb(232,103,64) 100%);
    background: -ms-linear-gradient(90deg, rgb(228,94,57) 0%, rgb(232,103,64) 100%);
    border: 1px solid rgb(228, 89, 54);
  }

  &_blue {
    background: -moz-linear-gradient(90deg, rgb(76,129,163) 0%, rgb(95,144,176) 100%);
    background: -webkit-linear-gradient(90deg, rgb(76,129,163) 0%, rgb(95,144,176) 100%);
    background: -ms-linear-gradient(90deg, rgb(76,129,163) 0%, rgb(95,144,176) 100%);
    border: 1px solid rgb(72, 124, 163);
  }

  &_yellow {
    background-color: rgb(222, 186, 74);
    //box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.004),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(222, 182, 55);

  }

  &_gray {
    background-color: rgb(187, 187, 187);
    //box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.004),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(181, 181, 181);

  }



  &:hover {
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  &:focus, &:active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
}

.hide {
  display: none;
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }

  33.3% {
    transform: translateX(-6px);
  }

  49.95% {
    transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

.section-wrap {
  border-radius: 5px;
  overflow: hidden;
  background: $white;
}