.profile {
  position: relative;
  z-index: 20;
  background: $white;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;

  &__container {
    padding: 0 15px 0 15px;
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: $titleMb;
  }

  &__list {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      left: 0;
      bottom: -10px;
      background: $hoverORange;
    }
  }

  &__item {
    margin-bottom: 10px;

  }

  &__prop {
    display: inline-block;
    font-family: 'helveticaneue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    @include pxToRem(font-size, 14px);
    color: $textColor;
  }

  &__value {
    display: inline-block;
    color: $grayColor;
    @include pxToRem(font-size, 14px);
  }
}